@media screen and (max-width: 768px){
    .main_wraper h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .nav_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 20px;
        background-color: rgba(12, 12, 15, 0.917);
    }

    .login {
        display: none;
    }

    .carrinho {
        display: none;
    }

    .menu_burguer {
        display: block;
    }

    .container_pesquisa {
        padding-right: 10px;
    }

    .input_pesquisa {
        min-width: 220px;
        border-radius: 10px;
        height: 40px;
        border: 2px solid rgb(174, 174, 174);
    } 

    .menu_lateral {
        padding-left: 11%;
    }

    footer {
        padding: 50px 20px;
    }

    .footer_wraper {
        flex-wrap: wrap;
    }

    .box_footer {
        width: 100%;
        padding: 20px 0;
    }

    .box_footer:nth-of-type(2) {
        justify-content: left;
    }

    .conta_user {
        display: none;
    }

    .btn_fazer_login {
        border: none;
        padding: 19px 5rem;
        background-color: rgb(21, 21, 27);
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
    }

    .btn_fazer_login:hover {
        background-color: rgb(38, 38, 49);
    }

    #menu_mobile {
        display: none;
    }

}